name: Example

on:
  push:
    branches: [ 'master' ]

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v3

      - name: Download npm-dependencies-analyser
        run: wget https://github.com/AlasDiablo/npm-dependencies-analyser/releases/download/1.0.0/npm-dependancies-analyser-ci.zip

      - name: Extracting npm-dependencies-analyser
        run: unzip npm-dependancies-analyser-ci.zip -d ./.github/actions/npm-dependencies-analyser

      - name: Run npm-dependencies-analyser
        uses: ./.github/actions/npm-dependencies-analyser
        with:
          host: 'http://127.0.0.1'
          token: 'secret'
          send: false
